# Python Basics Day 1 Notebook
## I enjoy learning Python
### It is my favourite subject
<p> I am learning Python Basics </p>

# This is Section 2

In [ ]:
!python --version

Python 3.11.12

In [ ]:
print ("Hello World!")

Hello World!

### Below syntax is used to connect google drive to google colab notebook

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
print ('My Name is Mr.X')

My Name is Mr.X

In [ ]:
print ("My Name is MR.X")

My Name is MR.X

In [ ]:
print ("I am learning Python')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-7-fe48e379461d>, line 1)

In [ ]:
Print ('my father's fourite car is Pagani Zonda')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-8-a354ec088b09>, line 1)

## Use either Single ' ' or Double Quotations " " and stick to it.

In [ ]:
print (3.14)

3.14

In [ ]:
print ("3.14")

3.14

In [ ]:
print (type("3.14"))
print (type(3.14))

<class 'str'>
<class 'float'>

In [ ]:
print ("3.14 " * 2)
print (3.14 *2)

3.14 3.14
6.28

In [ ]:
print(len("3.14 "))

5

In [ ]:
print(len("3.14"))

4

### \ is escape character, ignores next character
### \n creates new line

In [ ]:
print("The itsy bitsy spider\nclimbed up the waterspout.")
print()
print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

In [ ]:
print('My father\'s favorite car is Pagani Zonda.')

My father's favorite car is Pagani Zonda.

In [ ]:
print("Python \t is easy to learn.")
print("Python \bis easy to learn.")

Python 	 is easy to learn.
Python is easy to learn.

In [ ]:
print ("\")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-26-fed7d8041122>, line 1)

In [ ]:
print ("\\")

\

In [ ]:
print ("The itsy bitsy spider", "climbed up", "the waterspout")

print ("the itsy bitsy spider climber up the waterspout")

The itsy bitsy spider climbed up the waterspout
the itsy bitsy spider climber up the waterspout

In [ ]:
print ("I am 35 years old.", True)

I am 35 years old. True

## Python is case sensitive

In [ ]:
PRINT ("I am 35 years old.")

NameError: name 'PRINT' is not defined

In [ ]:
print ("The itsy bitsy spider", "climbed up", "the waterspout")

print ("the itsy bitsy spider" + "climbed up" + "the waterspout")

The itsy bitsy spider climbed up the waterspout
the itsy bitsy spiderclimbed upthe waterspout

In [ ]:
print (2,3)
print (2+3)

2 3
5

In [ ]:
print ("2"+"3")

23

### Arithmic Operators

In [ ]:
print ( 13 + 5)
print ( 13 - 5)
print ( 13 * 5)
print ( 13 / 5)
print ( 13 // 5)
print ( 13 % 5)
print ( 13 ** 5)

18
8
65
2.6
2
3
371293

### % is modulus, which will return that remainder

In [ ]:
print (13 % 5)
print (22 % 7)

3
1

###// floor division, how many times 5 fits into 13

In [ ]:
print (13 // 5)

2

In [ ]:
print (22 //7 )

3

### ** used for exponentiation, print 3 to the power of 3

In [ ]:
print (3**3)

27

In [ ]:
print (4**3)

64

In [ ]:
print (4**0.5)

2.0

In [ ]:
# prompt: square root of 100?

import math
print(math.sqrt(100))

10.0

In [ ]:
import math
print(math.sqrt(100))

10.0

In [ ]:
print (math.sqrt(100))

10.0

### importing math module

In [ ]:
import math

In [ ]:
math.sqrt(100)

10.0

comments are ignored during the execution of code

In [ ]:
#This is a comment.

In [ ]:
import math
# This code will import math module.

In [ ]:
print ("Danny")

Danny

In [ ]:
name = "Danny"
# This is declaring name variable and assigning Danny as value
#no output while declaring a variable

In [ ]:
print (name)
#This code will check the memory and if it finds somehing assigned to name
#i will return that value

Danny

In [ ]:
print (mylocation)

Home

In [ ]:
mylocation = "Home"

In [ ]:
print (mylocation)

Home

In [ ]:
myage = "35"

In [ ]:
print (myage)

35

In [ ]:
print (name, mylocation, myage)

Danny Home 35

In [ ]:
condition = True

In [ ]:
print (condition)

True

In [ ]:
my_age = 33

In [ ]:
print (my_age)

33

In [ ]:
your_age = 30

In [ ]:
my_age = your_age

In [ ]:
print (my_age)

30

In [ ]:
my_age = 33
your_age = 30
my_age = your_age
print (my_age)
# the keywords are stored in the memory.
# quotations only tobe used around string values

30

In [ ]:
myname = "Danny"
print (myname)
print (type(myname))
print (len(myname))

Danny
<class 'str'>
5

In [ ]:
myName = "Danny O'Keefe"
print("Data type:", type(myName))
print("Length:", len(myName))
print("Hello, my name is", myName)

Data type: <class 'str'>
Length: 13
Hello, my name is Danny O'Keefe

In [ ]:
print(f'Myname is {myName}, type is {type(myName)}, len is {len(myName)}')
# all variables can be used in the same string
# this is called f-string

Myname is Danny O'Keefe, type is <class 'str'>, len is 13

#input function

In [ ]:
print("Please enter your name:")
myname = input()
print (f"Hi, {myname}. Nice to meet you.")

Please enter your name:
Danny
Hi, Danny. Nice to meet you.

In [ ]:
myname = input("Please enter your name: ")
print (f"Hi, {myname}. Nice to meet you.")

Please enter your name: Danny
Hi, Danny. Nice to meet you.

In [ ]:
myname = input("Please enter your age: ")
print (f"Hi, you are {myage}. years old.")
print (type(myage))
print (f"You will be {myage + 1} years old next year") #this line returns error
#becuase input function store value as string
#you cannot add myage a string, to + 1 an integer

Please enter your age: 35
Hi, you are 35. years old.
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [ ]:
num1 = input("Enter first value")
print(type(num1))

num2 = input("Enter second value")
print(type(num2))

print (num1 + num2)

Enter first value1
<class 'str'>
Enter second value1
<class 'str'>
11

In [ ]:
print (int(num1))
#change datatype to integer

1

In [ ]:
print (int(num1) ** 2)

1

In [ ]:
print ("Tell me the time in hours and I will Calculate in seconds")
time_hour = input("How many hours? ")
print (f"Time in seconds is {int(time_hour) * 60 * 60}")
#integer will on give me round hours. 2.5 will not work

Tell me the time in hours and I will Calculate in seconds
How many hours? 4
Time in seconds is 14400

In [ ]:
print ("Tell me the time in hours and I will Calculate in seconds")
time_hour = input("How many hours? ")
print (f"Time in seconds is {float(time_hour) * 60 * 60}")
# float function can convert decimal, so 2.5 will work.

Tell me the time in hours and I will Calculate in seconds
How many hours? 2.5
Time in seconds is 9000.0

# float function is more secure o use in type conversion of numeric values

In [ ]:
number1 = input("enter a number: ")
#number 1 is stored as a string
print (number1 * 2)
#user entry is not a numeric by memory
# i need to convert datatype before any calculation

enter a number: 20.5
20.520.5

In [ ]:
#both int or float are used to convert numeric from string
print (int(number1)*2)

ValueError: invalid literal for int() with base 10: '20.5'

In [ ]:
#use float function to return float value
print (float(number1) * 2)

41.0

# we better use float function to convert user entry

In [ ]:
# Define functions for each operation
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    return x / y

# Display the operation menu
print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

# Main loop
while True:
    choice = input("Enter choice (1/2/3/4): ")

    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numeric values.")
            continue

        if choice == '1':
            print(f"{num1} + {num2} = {add(num1, num2)}")
        elif choice == '2':
            print(f"{num1} - {num2} = {subtract(num1, num2)}")
        elif choice == '3':
            print(f"{num1} * {num2} = {multiply(num1, num2)}")
        elif choice == '4':
            print(f"{num1} / {num2} = {divide(num1, num2)}")

        # Check if the user wants another calculation
        next_calculation = input("Do you want to perform another calculation? (yes/no): ")
        if next_calculation.lower() != 'yes':
            break
    else:
        print("Invalid input. Please select a valid operation.")

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 2
Enter first number: 17
Enter second number: 34
17.0 - 34.0 = -17.0
Do you want to perform another calculation? (yes/no): yes